{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Add Android App</h2>
    <form method="post">
        {% csrf_token %}
       <!-- Add Android App Form -->
    <div class="card mt-4">
        <div class="card-header">
            Add Android App
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="appName">App Name</label>
                    <input type="text" class="form-control" id="appName" placeholder="Enter app name">
                </div>
                <div class="form-group">
                    <label for="appPoints">Points</label>
                    <input type="number" class="form-control" id="appPoints" placeholder="Enter points">
                </div>
                <button type="submit" class="btn btn-primary">Add App</button>
            </form>
        </div>
    </div>
    </form>
</div>
{% endblock %}
