{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Admin Dashboard</h2>

    <!-- Add Android App Form -->
    <div class="card mt-4">
        <div class="card-header">
            Add Android App
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="appName">App Name</label>
                    <input type="text" class="form-control" id="appName" placeholder="Enter app name">
                </div>
                <div class="form-group">
                    <label for="appPoints">Points</label>
                    <input type="number" class="form-control" id="appPoints" placeholder="Enter points">
                </div>
                <button type="submit" class="btn btn-primary">Add App</button>
            </form>
        </div>
    </div>

    <!-- List of Existing Apps and Points -->
    <div class="card mt-4">
        <div class="card-header">
            Existing Apps and Points
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">App Name</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in android_apps %}
                    <tr>
                        <td>{{ app.name }}</td>
                        <td>{{ app.points }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No apps available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
