{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Upload Screenshot</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- File input field for the screenshot -->
        <div class="form-group">
            <label for="screenshot">Choose a Screenshot</label>
            <input type="file" class="form-control-file" id="screenshot" name="screenshot">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>

{% endblock %}
