{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>User Dashboard</h2>

    <!-- List of Apps -->
    <div class="card mt-4">
        <div class="card-header">
            List of Apps
        </div>
        <div class="card-body">
            <ul>
                {% for app in user.apps.all %}
                <li>{{ app.name }} - Points: {{ app.points }}</li>
                {% empty %}
                <li>No apps available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- List of Points -->
    <div class="card mt-4">
        <div class="card-header">
            List of Points
        </div>
        <div class="card-body">
            <p>Total Points: <!-- Display the total points here --></p>
        </div>
    </div>

    <!-- List of Tasks -->
    <div class="card mt-4">
        <div class="card-header">
            List of Tasks
        </div>
        <div class="card-body">
            <ul>
                {% for task in user_tasks %}
                <li>{{ task.task_description }}</li>
                {% empty %}
                <li>No tasks available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
