{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>User Profile</h2>

    <!-- Display User Profile Information -->
    <div class="card mt-4">
        <div class="card-header">
            User Information
        </div>
        <div class="card-body">
            <ul>
                <li><strong>Username:</strong> {{ user.username }}</li>
                <li><strong>Email:</strong> {{ user.email }}</li>
                <!-- Add more profile fields here as needed -->
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>User Profile</h2>

    <!-- Display User Profile Information -->
    <div class="card mt-4">
        <div class="card-header">
            User Information
        </div>
        <div class="card-body">
            <ul>
                <li><strong>Username:</strong> {{ user.username }}</li>
                <li><strong>Email:</strong> {{ user.email }}</li>
                <!-- Add more profile fields here as needed -->
            </ul>
        </div>
    </div>
</div>
{% endblock %}
